studentgrading/static/css/bootstrap.min.css linguist-vendored=false
studentgrading/static/css/bootstrap-4.0.0-alpha.css linguist-vendored=false
studentgrading/static/js/angular.min-1.4.7.js linguist-vendored=false
studentgrading/static/js/bootstrap.min.js linguist-vendored=false
studentgrading/static/js/bootstrap-4.0.0-alpha.js linguist-vendored=false
studentgrading/static/js/html5-shiv-3.7.0.js linguist-vendored=false
studentgrading/static/js/jquery.min-2.1.4.js linguist-vendored=false
studentgrading/static/js/jquery-1.11.3.min.js linguist-vendored=false