{% extends 'users/base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">

      <form class="login form-group" method="POST" action="{% url 'core:login' %}">
        {% csrf_token %}
		<h2>{% trans "Sign In" %}</h2>
        <table>
          {{ form.as_table }}
        </table>
		<div class="checkbox">
		  <label>
		    <input type="checkbox"> 记住我
		  </label>
		  <span id="info"></span>
	    </div>
        <button id="sign-in-button" class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
